{% extends 'base.html.twig' %}


{% block title %}Member {{member.nom}}{% endblock %}


{% block body %}

    <h1>{{member.nom}}</h1>

    <p>Owned hearthstone Cardbooks by {{member.nom}}:</p>

    {% for HearthstoneCardbook in member.HearthstoneCardbooks %}
    <li><a href="{{ path('hearthstoneCardbook_show', {'id' : HearthstoneCardbook.id}) }}">{{ HearthstoneCardbook }}</a></li>
    {% endfor %}

    <br>

    <a href="{{ path('app_hearthstoneCardbook_new', {'id': member.id}) }}"><button class="btn btn-primary">Add a new Hearthstone Cardbook</button></a>

{% endblock %}
