{% extends 'base.html.twig' %}

{% block title %}Deprecated page{% endblock %}

{% block body %}

    {# <div class="container mt-5">

        <h1>{{hthcard.Name}}</h1>

        <p>{% if hthcard.Isminion %}Minion{% else %}Spell{% endif %}</p>

        <p>Description : {{ hthcard.Description }}</p>

        <p>Manacost : {{ hthcard.Manacost }}</p>

        <p>Origin : {{ hthcard.HearthstoneCardbook }} by {{ hthcard.HearthstoneCardbook.Member }}</p>
        

        <p><a href="{{ path('hearthstoneCardbook_show', { 'id': hthcard.HearthstoneCardbook.id }) }}"><button class="btn btn-secondary">Back to Hearthstone Cardbook</button></a></p>

    </div> #}



    <div class="container mt-5">


        <h1>{{hthcard.Name}}</h1>

        <p><strong>{{hthcard.Name}}</strong> specifications and details</p>

        <table class="table">

            <tbody>
                <tr>
                <td>Card type:</td>
                <td class="table-info">{% if hthcard.Isminion %}Minion{% else %}Spell{% endif %}</td>
                </tr>

                <tr>
                <td>Description :</td>
                <td>{{ hthcard.Description }}</td>
                </tr>

                <tr>
                <td>Manacost :</td>
                <td class="table-danger">{{ hthcard.Manacost }}</td>
                </tr>

                <tr>
                <td>Origin :</td>
                <td><strong>{{ hthcard.HearthstoneCardbook }}</strong> by <strong>{{ hthcard.HearthstoneCardbook.Member }}</strong></td>
                </tr>
            </tbody>
        </table>

        <p><a href="{{ path('hearthstoneCardbook_show', { 'id': hthcard.HearthstoneCardbook.id }) }}"><button class="btn btn-secondary">Back to Hearthstone Cardbook (<strong>{{ hthcard.HearthstoneCardbook.name }}</strong>)</button></a></p>
    </div>



{% endblock %}
