{% extends 'base.html.twig' %}

{# title block unused #}
{% block title %}Hello HearthstoneCardbookController!{% endblock %}

{% block body %}

<h1>Liste des HearthstoneCardbooks</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody>
        {% for hearthstone_cardbook in hearthstone_cardbooks %}
        <tr>
            <td><a href="{{ path('hearthstoneCardbook_show', {'id': hearthstone_cardbook.id}) }}">{{hearthstone_cardbook.Id}}</a></td>
            
            <td>

            <a href="{{ path('hearthstoneCardbook_show', {'id': hearthstone_cardbook.id}) }}">{{hearthstone_cardbook.name}}</a>

            </td>

            <td>{{ hearthstone_cardbook.Member }}</td> {# On mettra ici le lien pour accéder au membre lorsque sa page sera créé #}
        </tr>

        {% endfor %} {# todos #}
    </tbody>

    <br>
</table>

<a href="{{ path('app_hearthstoneCardbook_new') }}">Create new</a>

<br>

<p><a href="">Go back (Members list) [link inactive]</a></p> {# il faudra ajouter le lien de la liste des membres #}

{% endblock %}
