{% extends 'base.html.twig' %}

{% block title %}Hello HearthstoneCardbookController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1>{{hearthstone_cardbook.name}}</h1>



    <p>Deck owner : {{hearthstone_cardbook.member}}<p/>
    
    {% if not hearthstone_cardbook.cards is empty %}

        {# Ceci est la version "complète", ou les détails des cartes sont toutes présentées

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Manacost</th>
                    <th>Card type (1=minion)</th>
                </tr>
            </thead>
            <tbody>
                    {% for hthcard in hearthstone_cardbook.cards %}
                    <tr>
                        <td><a href="{{ path('hthcard_show', {'id': hthcard.id}) }}">{{hthcard.id}}</a></td>
                        
                        <td>

                        <a href="{{ path('hthcard_show', {'id': hthcard.id}) }}">{{hthcard.name}}</a>

                        </td>
                        <td>{{ hthcard.Description }}</td>
                        <td>{{ hthcard.Manacost }}</td>
                        <td>{{ hthcard.Isminion }}</td>
                    </tr>

                    {% endfor %}
                
            </tbody>
        </table>
        #}
        <ul>
        {% for hthcard in hearthstone_cardbook.cards %}
            <li><a href="{{ path('hthcard_show', {'id': hthcard.id}) }}">{{hthcard.name}}</a></li>
        {% endfor %}
        </ul>

    {% else %}
        <p>There are no cards in this deck !</p>
    {% endif %}

<p><a href="{{ path('hearthstone_cardbook') }} ">Go back (List of HearthstoneCardbooks)</a></p>

{% endblock %}
