{% extends 'base.html.twig' %}

{% block title %}{{hthcard.Name}}{% endblock %}

{% block body %}

    <h1>{{hthcard.Name}}</h1>

    <p>{% if hthcard.Isminion %}Minion{% else %}Spell{% endif %}</p>

    <p>Description : {{ hthcard.Description }}</p>

    <p>Manacost : {{ hthcard.Manacost }}</p>

    <p>Origin : {{ hthcard.HearthstoneCardbook }} by {{ hthcard.HearthstoneCardbook.Member }}</p>
    

    <a href="{{ path('app_deck_show', { 'id': deck.id }) }}"><button class="btn btn-secondary">Back to Deck</button></a>

{% endblock %}
