{% extends 'base.html.twig' %}

{% block title %}{{hthcard.Name}}{% endblock %}

{% block body %}

<div class="container mt-5">

    <div class="container mt-5 mb-5">
        <a href="{{ path('app_deck_show', { 'id': deck.id }) }}" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            Back to Deck (<strong>{{ deck.name }}</strong>)
        </a>
    </div>
    
    <h1>{{hthcard.Name}}</h1>

    <p><strong>{{hthcard.Name}}</strong> specifications and details</p>

    <img class="mx-auto d-block" src="{{ asset('img/default_card.png') }}" alt="Default card image" style="width: auto; height: auto; max-width:760px; max-height:400px; display: block; margin: auto">

    <br>

    <table class="table">

        <tbody>
            <tr>
            <td>Card type:</td>
            {% if hthcard.Isminion %}
            <td class="table-primary">Minion</td>
            {% else %}
            <td class="table-success">Spell</td>
            {% endif %}
            </tr>

            <tr>
            <td>Description :</td>
            <td>{{ hthcard.Description }}</td>
            </tr>

            <tr>
            <td>Manacost :</td>
            <td class="table-danger">{{ hthcard.Manacost }}</td>
            </tr>

            {% if hthcard.Isminion %}

            <tr>
            <td>Attack points :</td>
            <td class="table-secondary">{{ hthcard.Atk }}</td>
            </tr>

            <tr>
            <td>Health points :</td>
            <td class="table-secondary">{{ hthcard.Hp }}</td>
            </tr>

            {% endif %}

            <tr>
            <td>Origin :</td>
            <td class="table-dark"><strong>{{ hthcard.HearthstoneCardbook }}</strong> by <strong>{{ hthcard.HearthstoneCardbook.Member }}</strong></td>
            </tr>
        </tbody>
    </table>
    
    {# <a href="{{ path('app_deck_show', { 'id': deck.id }) }}"><button class="btn btn-secondary"></button></a> #}

</div>


{% endblock %}
