{% extends 'base.html.twig' %}

{% block title %}Deck index{% endblock %}

{% block body %}

<div class="container mt-5">
    
    
    <h1>{% if app.user != null %}
    Welcome back {{app.user.member.nom}}.
    {% else %}
    Welcome to the tavern friend.
    {% endif %}</h1>
    <h1>Browse the decks !</h1>

    <br>

    {% if not decks is empty %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for deck in decks %}
        <div class="col-sm-3">
            <div class="card h-100" style="max-width: 540px;">
                <div class="card-body" style="background-image: url('{{ asset("img/deck_background_test.png") }}'); background-size: cover; background-position-y: 40%;">
                    <h4 class="card-title">{{ deck.description }}</h4>
                    <p class="card-text">{{ deck.description }}</p>
                    <a href="{{ path('app_deck_show', {'id' : deck.id}) }}" class="btn btn-primary">Open deck</a>
                </div>
                <div class="card-footer">
                    <p class="card-text">by <strong>{{ deck.member }} {% if app.user != null and deck.member == app.user.member %}(You){% endif %}</strong></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    {% else %}
    <div class="mt-4 p-4 bg-warning text-dark rounded text-center">
        <h1>There is no deck yet to view !</h1>
        <p>Quick ! Be the first to create one by logging in and publishing your very first deck !</p> 
    </div>
    {% endif %}

</div>

<div class="container mt-5 text-center">
    {% if not app.user %}
        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-trigger="hover focus" data-bs-delay="1000" trigger title="You must be logged in to create a deck !">     
        <a class="btn btn-success disabled">Create a new deck</a>
        </span>
    {% else %}
        <a href="{{ path('app_deck_new' , {'id': app.user.member.id}) }}" class="btn btn-success">Create a new deck</a>
    {% endif %}
</div>


{% endblock %}
