{% extends 'base.html.twig' %}

{% block title %}{{ deck.Description }}{% endblock %}

{% block body %}

    <h1>{{ deck.description }}</h1>

    <p>Deck owner : {{deck.member}}<p/>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ deck.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ deck.description }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{{ deck.public ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Hearthstone Cards</h2>
    
    {% if not deck.cards is empty %}

        <ul>
        {% for hthcard in deck.cards %}
        <li>
            <a href="{{ path('app_deck_hthcard_show', {'deck_id': deck.id, 'hthcard_id' : hthcard.id}) }}">{{ hthcard }}</a>
        </li>
        {% endfor %}
        </ul>

    {% else %}
        <p>There are no cards in this Deck !</p>
    {% endif %}


    <a href="{{ path('app_deck_edit', {'id': deck.id}) }}"><button class="btn btn-primary">Edit deck</button></a>

    {# {{ include('deck/_delete_form.html.twig') }} #}

    <a href="{{ path('app_deck_index') }}"><button class="btn btn-secondary">Back to list</button></a>


{% endblock %}
